<div class="span3">
	<div class="well sidebar-nav">
		<ul class="nav nav-list">
			<li class="nav-header">常规</li>
			<li{% if request.path=="/" or request.path=="/home" %} class="active"{% endif %}><a href="{{ url_for('home') }}" id="home-btn"><i class="icon-home"></i> 概览<i class="icon-refresh hide" id="home-load" style="float:right;margin-top:3px;"></i></a></li>
		</ul>
		{% if containers != [] %}<ul class="nav nav-list">
			<li class="nav-header">Containers</li>
			{% for c in containers %}
				<li{% if request.path=='/'+ c +'/edit' %} class="active"{% endif %}><a href="{{ url_for('edit',container=c) }}"><i class="icon-hdd"></i> {{c}}</a></li>
			{% endfor %}
		</ul>{% endif %}
		{% if session.su == 'Yes' %}<ul class="nav nav-list">
			<li class="nav-header">LXC设置</li>
			<li{% if request.path=="/settings/lxc-net" %} class="active"{% endif %}><a href="{{ url_for('lxc_net') }}"><i class="icon-globe"></i> 网络设置</a></li>
			<li{% if request.path=="/checkconfig" %} class="active"{% endif %}><a href="{{ url_for('checkconfig') }}"><i class="icon-check"></i> 检查配置</a></li>
		</ul>{% endif %}
		<ul class="nav nav-list">
			<li class="nav-header">LXC控制台界面</li>
			{% if session.su == 'Yes' %}<li{% if request.path=="/lwp/users" %} class="active"{% endif %}><a href="{{ url_for('lwp_users') }}"><i class="icon-user"></i> 用户管理</a></li>{% endif %}
			<li{% if request.path=="/about" %} class="active"{% endif %}><a href="{{ url_for('about') }}"><i class="icon-info-sign"></i> 关于</a></li>
		</ul>
	</div>
</div>
